.DS_Store
*.swp
.project
node_modules
.idea/
.vscode/
npm-debug.log
.jshintrc
editor/electron
editor/dist


examples/baidu_asset
examples/baidu_asset2
examples/baidu_asset3
examples/baidu_asset4
examples/sample_asset
examples/other
examples/all.html
examples/all2.html
examples/all3.html
examples/all4.html
examples/test-view.html