
body {
    margin: 0;
    background: #000;
}
#main {
    position: absolute;
    left: 0px;
    right: 250px;
    top: 0;
    bottom: 0;
}

#controlKit .panel .group-list .group .sub-group-list .sub-group ul li.drag-hover {
    border: 2px solid #66f;
    box-sizing: border-box;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group ul li:after {
    display: block;
    visibility: hidden;
    content: '';    
    height: 0; 
    clear: both;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group {
    padding: 5px;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .label {
    width: 45%;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .wrap,
#controlKit .panel .svg-wrap, #controlKit .panel .canvas-wrap,
#controlKit .panel .wrap-slider {
    width: 55%;
}

.texture-wrap {
    width: 55%;
    float: right;
    cursor: pointer;
    overflow-x: hidden;
    padding-bottom: 5px;
}
.texture-wrap img {
    height: 100px;
}

.pace {
-webkit-pointer-events: none;
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.pace-inactive {
display: none;
}

.pace .pace-progress {
background-color: rgba(0, 0, 0, 0.4);
position: fixed;
z-index: 1000;
top: 0;
right: 100%;
bottom: 0;
width: 100%;
}