
body {
    margin: 0;
    background: #000;
}
#main {
    position: absolute;
    left: 0px;
    right: 250px;
    top: 0;
    bottom: 0;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading {
    position: absolute;
    width: 120px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -40px;

    text-transform: uppercase;
    font-size: 24px;
    color: #aaa;
    text-align: center;
}

#loading img {
    width: 120px;
}

#toolbar {
    position: absolute;
    right: 280px;
    top: 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
    display: none;
    z-index: 10;
    /* box-shadow: 0px 0px 10px rgba(122,122,122,0.4); */
}

#toolbar .iconfont {
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
#toolbar .iconfont:hover {
    background-color: rgba(255,255,255,0.5);
}


#tip {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 300px;
    margin-left: -250px;
    text-align: center;
    font-size: 20px;
    padding: 30px 10px;
    
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;

    display: none;
}

#tip .hint {
    font-size: 14px;
    margin-top: 20px;
}

#tip ul {
    margin: 0;
    padding: 0;
}
#tip li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#credits {
    position: absolute;
    width: 400px;
    bottom: 10px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    z-index: 1000;
    font-size: 12px;
    color: #555;
}

#credits .source {
    color: #000;
    font-size: 14px;
    margin-right: 14px;
}
#credits a {
    color: #111;
}


#controlKit .panel .group-list .group .sub-group-list .sub-group ul li.drag-hover {
    border: 2px solid #66f;
    box-sizing: border-box;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group ul li:after {
    display: block;
    visibility: hidden;
    content: '';    
    height: 0; 
    clear: both;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group {
    padding: 5px;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .label {
    width: 45%;
}
#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .wrap,
#controlKit .panel .svg-wrap, #controlKit .panel .canvas-wrap,
#controlKit .panel .wrap-slider {
    width: 55%;
}

.texture-wrap {
    width: 55%;
    float: right;
    /* cursor: pointer; */
    overflow-x: hidden;
    padding-bottom: 5px;
}
.texture-wrap img {
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.texture-wrap .texture-delete {
    display: inline-block;
    width: 20px!important;
    height: 80px!important;
    vertical-align: top;
    text-align: center;
    line-height: 80px;
    text-transform: none!important;
}
.texture-wrap .texture-delete::after {
    content: 'x';
}

.pace {
-webkit-pointer-events: none;
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.pace-inactive {
display: none;
}

.pace .pace-progress {
background-color: rgba(0, 0, 0, 0.4);
position: fixed;
z-index: 1000;
top: 0;
right: 100%;
bottom: 0;
width: 100%;
}